html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Calculator
    link(rel='stylesheet', type='text/css', href='build/build.css')
    // first link to jquery
    
  body
    article(class="bespoke-parent")
      section.emphatic-text(data-bespoke-backdrop='zamrud')
        h1 Project TKPPL
        h2 Presentasi Dengan Bespoke
        h3 Kolaborasi & Planning Dengan Tools Trello dan Github

      section.emphatic-text(data-bespoke-backdrop='merahtomat')
        h1 Topik: Calculator
        h6 Alamat Github: https://github.com/Py151112327/CalculatorRepo.git
        h6 Alamat Trello: https://trello.com/b/pOZbNIAV/calculator
        ul(id="contslide2")
            li(class="boxAnggota2")
            li(class="boxAnggota")
                h5 Anggota 1
                    h6 Nama : Pyter Wahyu
                    h6 NIM  : 151112327
            li(class="boxAnggota")
                h5 Anggota 2 
                    h6 Nama : Dicky Valentinus
                    h6 NIM  : 151110261
            li(class="boxAnggota")
                h5 Anggota 3
                    h6 Nama : Vincent Valentinus
                    h6 NIM  : 151110288
            li(class="boxAnggota")
                h5 Anggota 4
                    h6 Nama : Stanley Junius
                    h6 NIM  : 151110725
      
      section.emphatic-text(data-bespoke-backdrop='biruNjay')
        h1 Sejarah Kalkulator
        
      section.emphatic-text(data-bespoke-backdrop='backPres')
        ul
            li(class="boxIntro box")
                .gbr.img1
                .space
                .intro Kalkulator pertama kali dibuat dalam bentuk ABACUS atau yang biasa kita kenal dengan nama sempoa, sempoa ini ditemukan di asia kecil sejak 5000 tahun yang lalu
            li(class="boxIntro2 box")
                .gbr.img2
                .space
                .intro Pada tahun 1642, Ditemukanlah kalkulator mekanik oleh Blaise Pascal yang dinamai dengan "Pascaline" yang dapat melakukan perhitungan basis 10 namun hanya terbatas pada operasi penjumlahan saja.
            li(class="boxIntro3 box")
                .gbr.img3
                .space
                .intro Pada tahun 1694, Pascaline disempurnakan oleh Gottfred Wilhem von Leibniz agar dapat melakukan operasi Tambah dan Kali
            li(class="boxIntro4 box")
                .gbr.img4
                .space
                .intro Pada tahun 1820, Charles Xavier Thomas menemukan mesin dengan empat fungsi aritmatika dasar ( x , / , + ,- ) yang dinamai dengan "Arithmometer"
                
            li(class="boxIntro5 box")
                .gbr.img5
                .space
                .intro Pada tahun 1940, John Atasanoff dan Clifford Berry berhasil mengembangkan kalkulator digital seperti yang kita kenal saat ini
        
      section.emphatic-text(data-bespoke-backdrop='backPres')
        h1.intro2 Sekarang ?
        li
        li
            h3 Sudah tersedia kalkulator dengan fungsi-fungsi perhitungan yang rumit seperti Trigonometri , Logaritma , Perpangkatan n tanpa batas , dan lain lain
        li
            h3.trik Dan juga sekarang lebih murah karena kalkulator dengan fitur-fitur diatas dapat diakses melalui internet via Komputer atau Smartphone
        li
            h3.trik berikut contoh program calculator sederhana dalam bentuk javascript..
        
      section.emphatic-text(data-bespoke-backdrop='bs')
      
      section.emphatic-text(data-bespoke-backdrop='khususkalku')
        form(name='sci-calc')
            table.calculator(cellspacing='0', cellpadding='1')
                tr
                  td(colspan='5')
                    input#display(name='display', value='0', size='28', maxlength='25',disabled)
                tr
                  td
                    input.btnTop(type='button', name='btnTop', value='C', onclick='this.form.display.value=  0 ')
                  td
                    input.btnTop(type='button', name='btnTop', value='del', onclick='deleteChar(this.form.display)')
                  td
                    input.btnTop(type='button', name='btnTop', value='=', onclick='if(checkNum(this.form.display.value)) { compute(this.form) }')
                  td
                    input.btnOpps(type='button', name='btnOpps', value='π', onclick="addChar(this.form.display,'3.14159265359')")
                  td
                    input.btnMath(type='button', name='btnMath', value='%', onclick=' percent(this.form.display)')
                tr
                  td
                    input.btnNum(type='button', name='btnNum', value='7', onclick="addChar(this.form.display, '7')")
                  td
                    input.btnNum(type='button', name='btnNum', value='8', onclick="addChar(this.form.display, '8')")
                  td
                    input.btnNum(type='button', name='btnNum', value='9', onclick="addChar(this.form.display, '9')")
                  td
                    input.btnOpps(type='button', name='btnOpps', value='exp', onclick='if(checkNum(this.form.display.value)) { exponent(this.form) }')
                  td
                    input.btnMath(type='button', name='btnMath', value='/', onclick="addChar(this.form.display, '/')")
                tr
                  td
                    input.btnNum(type='button', name='btnNum', value='4', onclick="addChar(this.form.display, '4')")
                  td
                    input.btnNum(type='button', name='btnNum', value='5', onclick="addChar(this.form.display, '5')")
                  td
                    input.btnNum(type='button', name='btnNum', value='6', onclick="addChar(this.form.display, '6')")
                  td
                    input.btnOpps(type='button', name='btnOpps', value='ln', onclick='if(checkNum(this.form.display.value)) { ln(this.form) }')
                  td
                    input.btnMath(type='button', name='btnMath', value='x', onclick="addChar(this.form.display, 'X')")
                tr
                  td
                    input.btnNum(type='button', name='btnNum', value='1', onclick="addChar(this.form.display, '1')")
                  td
                    input.btnNum(type='button', name='btnNum', value='2', onclick="addChar(this.form.display, '2')")
                  td
                    input.btnNum(type='button', name='btnNum', value='3', onclick="addChar(this.form.display, '3')")
                  td
                    input.btnOpps(type='button', name='btnOpps', value='√', onclick='if(checkNum(this.form.display.value)) { sqrt(this.form) }')
                  td
                    input.btnMath(type='button', name='btnMath', value='-', onclick="addChar(this.form.display, '-')")
                tr
                  td
                    input.btnMath(type='button', name='btnMath', value='+ / -', onclick='changeSign(this.form.display)')
                  td
                    input.btnNum(type='button', name='btnNum', value='0', onclick="addChar(this.form.display, '0')")
                  td
                    input.btnMath(type='button', name='btnMath', value='.', onclick="addChar(this.form.display, '.')")
                  td
                    input.btnOpps(type='button', name='btnOpps', value='x2', onclick='if(checkNum(this.form.display.value)) { square(this.form) }')
                  td
                    input.btnMath(type='button', name='btnMath', value='+', onclick="addChar(this.form.display, '+')")
                tr
                  td
                    input.btnMath(type='button', name='btnMath', value='(', onclick="addChar(this.form.display, '(')")
                  td
                    input.btnMath(type='button', name='btnMath', value=')', onclick="addChar(this.form.display,')')")
                  td
                    input.btnMath(type='button', name='btnMath', value='cos', onclick='if(checkNum(this.form.display.value)) { cos(this.form) }')
                  td
                    input.btnMath(type='button', name='btnMath', value='sin', onclick='if(checkNum(this.form.display.value)) { sin(this.form) }')
                  td
                    input.btnMath(type='button', name='btnMath', value='tan', onclick='if(checkNum(this.form.display.value)) { tan(this.form) }')
        
      section.emphatic-text(data-bespoke-backdrop='viruLangit')
            h1 Sekian dan Terima Kasih
        
    script(src='build/build.js')
    script(src='build/Calc.js')


      

    

